<div class="px-2 py-3 pt-2 text-center heroe">
  
    <div class="mx-auto py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
           <div class="dif">
            <img style="width: 100%;" src="https://cvillegas-dev.com/assets/character.jpg" alt="">
           </div>
          </div>
          <div class="col-md-8 mt-5">
            <h1 class="display-2 fw-bold text-body-emphasis">{{ name }}</h1>
            <p class="lead mb-4">
              I'm Cristhian Villegas, I'm from Veracruz. I aim to become a great software developer and be able to meet many people around the world to share my knowledge and culture, but at the same time to know their culture and make their knowledge part of my professional growth.
            </p>
            <p class="lead mb-4">
              You are welcome to know about my professional skills, and if you want to share with me some advice, you can use my contact menu. But you need to know, <strong>I'm not graphic designer</strong>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-divider align="center">
    <div class="inline-flex align-items-center">
      <i class="pi pi-user mr-2"></i>
    </div>
  </p-divider>
  