  
<div class="slider py-3">
    <div class="container">
        <h1 class="">{{ name }}</h1>
        <p class="lead mb-4">
          Software Engineer, Java passionate, Typescript lover and DevOps enthusiast. Always improving my skills and learning new things.
        </p>
        <img src="https://cdn-icons-png.flaticon.com/512/4661/4661320.png" alt="">
    </div>
  </div>
  <p-divider align="center">
    <div class="inline-flex align-items-center">
      <i class="pi pi-user mr-2"></i>
    </div>
  </p-divider>