/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Neo Sans Pro", sans-serif; }

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

h1 {
    width: 100%;
    text-align: center;
}


/* not selected */
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    text-decoration: none;
    color: rgb(28, 100, 21);
}
/* hover */
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
    background: transparent;
    border-color: rgb(30, 122, 113);
    color: rgb(28, 100, 21);
}
/* selected */
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: rgb(30, 122, 113);
    color: white;
}